<div class="b-example-divider"></div>

<header class="p-1 text-white" style="background-color: #202020">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'voxel_to_xaero' %}" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="{% url 'instructions' %}" class="nav-link px-2 text-white">Instructions</a></li>
        </ul>
    </div>
</header>