{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block meta %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <title>Waypoint Translator • {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Header -->
    {% include 'snippets/base_css.html' %}
    {% include 'snippets/header.html' %}

    <style type="text/css">
      .main {
        min-height: 100vh;
        height: 100%;
      }
    </style>

    <div class="main">
      {% block content %}
      
      {% endblock content %}
    </div>

    <!-- Footer -->
    {% include 'snippets/footer.html' %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    {% block js %}{% endblock %}
  </body>
</html>
