{% extends 'base.html' %}
{% load static %}

{% block title %} VoxelMap to Xaeros {% endblock %}

{% block content %}
    <div class="mask d-flex min-vh-100 py-4">
        <div class="container ">
            <div class="row d-flex justify-content-center cardRow">
                <div class="col-12 col-md-6 cardOneBox">
                    <div class="card" style="border-radius: 15px; background-color: #202020">
                        <div class="card-body p-5" style="color: #FFFFFF;">
                            <h3 class="text-center mb-5" style="color: #FFFFFF;">Convert Voxel Map Waypoints to Xaero's Minimap Format</h3>
                            <p class="text-center">Upload your Voxel Map .points file</p>
                            <form id="form-import" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% if form.errors %}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <div class="alert alert-danger">
                                                <strong>{{ error|escape }}</strong>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                        <div class="alert alert-danger">
                                            <strong>{{ error|escape }}</strong>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="form-inline" style="text-align: center; margin-top: 10px">
                                    {{ form.file }}
                                </div>

                                <div class="form-inline" style="text-align: center; margin-top: 10px">
                                    <button id="import_button" type="submit" class="btn btn-primary">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 cardTwoBox">
                    <div class="card" style="border-radius: 15px; background-color: #202020">
                        <div class="card-body p-5" style="color: #FFFFFF;">
                            <textarea ></textarea>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}